# Terraform
.terraform/               
*.tfstate                  
*.tfstate.backup           
*.tfplan                   
terraform.tfstate          
terraform.tfstate.backup   

# AWS
*.pem                      
*.key                      

# IDEs
.vscode/                   
*.swp                     


# Sonstiges
*.log                      
*.tmp                    